flexconf.kdevelop.pcs
flexconf.kdevses
Makefile
Makefile.in
*~
.deps
*.o
*.a
INSTALL
aclocal.m4
autom4te.cache
depcomp
install-sh
missing
mkinstalldirs
stamp-h1
config.h.in
config.log
config.status
configure
src/flexconf
src/genxml/testread
src/test/structCom.h
src/test/structCom.cpp
src/test/structDes.h
src/test/structDes.cpp
src/test/structSer.h
src/test/structSer.cpp
src/test/testxmlconf
src/test/testlibxml2
