flexconf.kdevelop.pcs
flexconf.kdevses
Makefile
Makefile.in
*~
.deps
*.o
*.a
INSTALL
aclocal.m4
autom4te.cache
depcomp
install-sh
missing
mkinstalldirs
stamp-h1
config.h.in
config.log
config.status
configure
src/flexconf
src/genxml/testread
src/test/*Com.h
src/test/*Com.cpp
src/test/*Des.h
src/test/*Des.cpp
src/test/*Ser.h
src/test/*Ser.cpp
src/test/testxmlconf
src/test/testlibxml2
